<!DOCTYPE html>
<body >
{% if delete %}
	 The following event has been cancelled:<br>
	 Event Name: {{event.title}}<br>
	 Location: {{event.address}}<br>
	 Start Date: {{event.start | date:"DATE_FORMAT"}}<br>
	 Start Time: {{event.start |time:"TIME_FORMAT"}}<br>
	 End Date: {{event.end | date:"DATE_FORMAT"}}<br>
	 End Time: {{event.end |time:"TIME_FORMAT"}}<br>
	{% elif edit %}
	 The event, {{event.title}} has been changed:<br>
	 Details are as follows:<br>
	 Event Name: {{event.title}}<br>
	 Location: {{event.address}}<br>
	 Start Date: {{event.start | date:"DATE_FORMAT"}}<br>
	 Start Time: {{event.start |time:"TIME_FORMAT"}}<br>
	 End Date: {{event.end | date:"DATE_FORMAT"}}<br>
	 End Time: {{event.end |time:"TIME_FORMAT"}} <br>
	{% elif create %}
	 The following event has been created:<br>
	 Event Name: {{event.title}}<br>
	 Location: {{event.address}}<br>
	 Start Date: {{event.start | date:"DATE_FORMAT"}}<br>
	 Start Time: {{event.start |time:"TIME_FORMAT"}}<br>
	 End Date: {{event.end | date:"DATE_FORMAT"}}<br>
	 End Time: {{event.end |time:"TIME_FORMAT"}}<br>
{% endif %}
</body>
</html>