{% extends "main/base.html" %}
{% load staticfiles %}

{% block content %}
<script src="{%static 'main/js/google-maps-plugin.js' %}"></script>
<h2>{{event.title}}</h2>
<div id="id_address">
	
</div>

<p>
	{{event.description}}
</p>
<br />
Location: {{event.address}}<br />
Start Date: {{event.start | date:"DATE_FORMAT"}}<br>
Start Time: {{event.start |time:"TIME_FORMAT"}}<br>
End Date: {{event.end | date:"DATE_FORMAT"}}<br>
End Time: {{event.end |time:"TIME_FORMAT"}} <br>
Affected Groups: {{events.scoutGroup}}
<br />

{% endblock content %}