{% extends "main/base.html" %}
{% load staticfiles %}


{% block head %}
<script src="{%static 'main/js/google-maps-plugin.js' %}"></script>
   		<script src="{%static 'main/js/jquery-2.0.3.min.js' %}"></script>
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
     <script src="{%static 'main/js/google-maps-plugin.js' %}"></script>
   

{% endblock head %}

{% block content %}

<h2>{{event.title}}</h2>
<p id='id_address'>{{event.address}}</p><br>

        <p> Address: </p> <input class="vTextField" size=90 id="id_address" maxlength="500" name="address" type="text" value='{{event.address}}' readonly>

<p>{{event.description}}</p>
<br />
Start Date: {{event.start | date:"DATE_FORMAT"}}<br>
Start Time: {{event.start |time:"TIME_FORMAT"}}<br>
End Date: {{event.end | date:"DATE_FORMAT"}}<br>
End Time: {{event.end |time:"TIME_FORMAT"}} <br>
Affected Groups: {{events.scoutGroup}}
<br />
{% endblock content %}