{% extends "main/base.html" %}
{% load render_table from django_tables2 %}
{% block head%}

function openMapModal(){   //bind handlers
   alert('clicked');
   var url = $(this).attr('href');
   showDialog(url);
   var $dialog = $('<div></div>')
               .html('<iframe style="border: 0px; " src="' + page + '" width="100%" height="100%"></iframe>')
               .dialog({
                   autoOpen: false,
                   modal: true,
                   height: 625,
                   width: 500,
                   title: "Some title"
               });
$dialog.dialog('open');

   });

{% endblock head %}
 {% block content %}
    {% if not noResults %}
        {% render_table table %}
    {% else %}
        <h1> No current events,please check back soon.</h1>
    {% endif %}
 {% endblock %}			
