BeautifulSoup==3.2.1
Django==1.5.1
Pillow==2.1.0
Pillow-PIL==0.1dev
argparse==1.2.1
boto==2.17.0
dj-database-url==0.2.2
dj-static==0.0.5
django-debug-toolbar==0.11.0
django-easy-maps==0.8.4
django-envelope==0.7
django-jsonfield==0.9.10
django-mptt==0.5.5
django-s3-folder-storage==0.1
django-storages==1.1.8
django-suit==0.2.5
django-tables2==0.14.0
django-tagging==0.3.1
django-toolbelt==0.0.1
django-xmlrpc==0.1.5
geopy==0.95.1
gunicorn==18.0
psycopg2==2.5.1
pyparsing==1.5.7
pytz==2013d
six==1.4.1
sqlparse==0.1.10
static==0.4
wsgiref==0.1.2
