{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main/css/normalize.css/' %}" type="text/css" >
		<link rel="stylesheet" href="{% static 'main/css/main.css/' %}" type="text/css" >
		<script src="{%static 'main/js/jquery-2.0.3.min.js' %}"></script>
		<script src="{%static 'main/js/jquery.slides.min.js' %}"></script>
        <script src="{%static 'main/js/main.js' %}"></script>
		{% block head %}
			<title>Black Mountain Girl Guides Australia</title>
		{% endblock head %}
	</head>
	<body>
        <header>
            <div class= "logo_title">
                <div class="logo">
                     {% include "logo.svg" %}
                </div>
                <h1><p class="guideHText">GIRL GUIDES</p><p class="ausHText">AUSTRALIA</p><p class="mountainHText">Black Mountain</p></h1>
            </div>
                <div class="nav_login_container">
                <h5>
                    {% if user.is_authenticated %}
                    Welcome {{request.user}}! ( <a class="login" href="/accounts/logout/">Log out </a> | <a class="login" href="/admin/password_change/">Change Password</a> )
                    {% else %}
                    <a class="login" href="/accounts/login/">User Login</a>
                    {% endif %}
                </h5>
                <nav>
                    <ul class="topnav">
                        <li class="icon">
        					<a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                        </li>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/events/">WHAT'S ON</a></li>
                        <li><a href="/photologue/">GALLERY</a></li>
                        <li><a href="/newletters/">FORMS</a></li>
                        <li><a href="/about/">OUR STORE</a></li>
                        <li><a href="/contactForm/">CONTACT US</a></li>
                    {% if user.is_superuser %}
                        <li><b><a href="/admin/">Admin</a></b></li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <div class = "mainContent">
            {% block content %}

            {% endblock content %}
            <footer class="">
                
                <div class="column1">
                    <h4>Our Partners</h4>
                    <a href="http://www.girlguides.org.au/public/attach/UniformBooklet.pdf">Girl Guides Uniform Booklet</a>
                    <br/>
                    <a href="http://www.girlguides-nswact.org.au/index.php">Girl Guides Association</a>
                    <br/>
                    <a href="http://www.girlguides.org.au">Girl Guides NSW & ACT</a>
                    <br/>
                    <a href="http://www.wagggsworld.org/en/home">WAGGGS</a>
                    <br/>
                    <a href="http://www.wagggsworld.org/en/world/centres">World Centres</a>
                </div>
                <div class ="siteMap">
                    <p>Home | About Us | Events | Newsletters | Forms | Our Store | Contact Us</p>
                    <p>© Copyright 2016 Girl Guides Australia</p>
                </div>
       		</footer>
        </div>
    </body>
    {% block outsideBody %}
    {% endblock outsideBody %}
</html>