{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
    	{% block head %}
    	
    	{% endblock head %}
    	
        <title>Black Mountain Girl Guides - Home</title>
        <link rel="stylesheet" type="text/css" href="css/960_16_col.css">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
        <script src="{%static 'main/js/jquery-2.0.3.min.js' %}"></script>
        <script src="{%static 'main/js/jquery.slides.min.js' %}"></script>
    </head>

    <body>
        <div id="siteBody" class="container_16">
        
            <div id = 'header' class="grid_16">
                <div id ='logo' class="grid_3">
                    <img src="{% static 'main/img/logo.gif' %}" />
                </div>
                
                <h1 class="grid_13">Black Mountain Girl Guides</h1>
                <div id = 'navbar' class="grid_13">
                    <ul>
                        <li>|</li>
                        <li><a href="/"><b>Home</b></a></li>
                        <li>|</li>
                        <li><a href="/events/"><b>Events</b></a></li>
                        <li>|</li>
                        <li><a href="/newsletters/"><b>Newsletter</b></a></li>
                        <li>|</li>
                        <li><a href="/about/"><b>About Us</b></a></li>
                        <li>|</li>
                        {% if user.is_staff %}
                            <li><a href="/admin/"><b>Admin</b></a></li>
                        {% endif %}
                        <li>|</li>
                    </ul>
                
                </div>
            </div>
            <div style="clear:both"></div>
            <div id = 'sidebar' class="grid_3">
                {% if not user.is_authenticated %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>
    
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
                {% endif %}
            </div>
            <div id = 'mainContent'>
                {% block content %}
            
                {% endblock content %}        
           <div id = 'footer' class="grid_16">
                   <a href="/contact/">Contact Us</a>
                   <p>Black Mountain Girl Guides</p>
               </div>
           </div>
		</div>               
    </body>
    {% block outsideBody %}
    
    {% endblock outsideBody %}
</html>