{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>	
		<title>Black Mountain Girl Guides - Home</title>
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/960_16_col.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
		<script src="{%static 'main/js/jquery-2.0.3.min.js' %}"></script>
		<script src="{%static 'main/js/jquery.slides.min.js' %}"></script>
		{% block head %}
		
		{% endblock head %}
		
	</head>
		
	<body>
		<div id="siteBody" class="container_16">
			
			<img src="{% static 'main/img/logo.gif' %}" id = 'logo' class="grid_3"/>
			
			<div id = 'header' class="grid_13">
								
				<h1 class="grid_10">Black Mountain Girl Guides</h1>
				
				<h5 id="login" class="grid_3">
					{% if user.is_authenticated %}
  						Welcome {{request.user}}! <a href="/accounts/logout/">Log out </a> <a href="/admin/password_change/">Change Password</a>
					{% else %}
    					<a href='accounts/login/'>User Login</a>
					{% endif %}
				</h5>
				<div id = 'navbar' class="grid_13">
					<ul>
						<li>|</li>
						<li><a href="/"><b>Home</b></a></li>
						<li>|</li>
						<li><a href="/events/"><b>Events</b></a></li>
						<li>|</li>
						<li><a href="/newsletters/"><b>Newsletter</b></a></li>
						<li>|</li>
						<li><a href='/contactForm/'><b>Contact Us</b></a></li>
						<li>|</li>
					{% if user.is_staff %}
					    <li><a href="/admin/"><b>Admin</b></a></li>
					    <li>|</li>
					{% endif %}
	
					</ul>
				</div>
			</div>
			<div style="clear:both"></div>
			
			<div id = 'sidebar' class="grid_3">
			</div>
			
			<div id = 'mainContent' class="grid_13">
				{% block content %}
			    
			    {% endblock content %}
			</div>
			    
			<div id = 'footer' class="grid_16">
				<a href='contactForm'>Contact us</a>
				<p>Black Mountain Girl Guides</p>
			</div>
		</div>               
    </body>
    {% block outsideBody %}
    
    {% endblock outsideBody %}
</html>