{% extends "main/base.html" %}
{% load easy_maps_tags %}
{% load staticfiles %}

{% block content %}
            <div id="slides">
            {% for image in publicImages %}
                <img src = "media/{{image.image}}" height="400px" width="600px">
            {% endfor %}
            <!--<a href="#" class="slidesjs-previous slidesjs-navigation">Back</a>
            <a href="#" class="slidesjs-next slidesjs-navigation">Next</a>-->
            </div>


        {% if user.is_authenticated %}
          <p> Welcome {{request.user}}! <a href="accounts/logout/">Log out</a><br>
          </p>

        {% else %}
            <a href='accounts/login/'> User Login </a><br>
        {% endif %}
        
        <h1> Note this page has context publicImages for your slideshow paul </h1>
       <a href='events/'> Events  ('events' context has the events objects in it)</a><br>
       <a href='newsletters/'> newsletters  ('newsletters' context has the newsletter objects in it) </a><br>
        <a href='contactForm'> Contact us form (needs styling etc just for backend test) </a><br>

        
        {% if request.user.is_superuser %}
        <a href='admin'> Admin Link </a><br>
        {% else %}
        <p> You are not logged in as superuser so hiding admin link - go to user login and login as admin to see it</p>
        {% endif %}



{% endblock %}



   
    </body>
</html>