{% extends "main/base.html" %}
{% load staticfiles %}

{% block content %}
            <div id="slides">
            {% for image in publicImages %}
                <img src = "{{MEDIA_URL}}{{image.image}}" height="400px" width="600px">
            {% endfor %}
            <!--<a href="#" class="slidesjs-previous slidesjs-navigation">Back</a>
            <a href="#" class="slidesjs-next slidesjs-navigation">Next</a>-->
            </div>


        {% if user.is_authenticated %}
          <p> Welcome {{request.user}}! <a href="accounts/logout/">Log out</a><br>
          </p>

        {% else %}
            <a href='accounts/login/'> User Login </a><br>
        {% endif %}

        <a href='contactForm'> Contact us form (needs styling etc just for backend test) </a><br>

        
        {% if request.user.is_superuser %}
        <a href='admin'> Admin Link </a><br>
        {% else %}
        <p> You are not logged in as superuser so hiding admin link - go to user login and login as admin to see it</p>
        {% endif %}



{% endblock %}



   
    </body>
</html>