/*Style Reset*/
body, div, h1, h2, h3, h4, h5, h6, p, img {margin:0px; padding:0px;} 

#logo {
	padding:10px 0px 10px 0px;
	height:125px;
}

#header {
	height:150px;
}

#login {
	float:right;
	margin-bottom:2px;
}

h1 {
	padding: 25px 0px 0px 0px;
}

#siteBody {
	margin: 0 auto;
/*	margin-left: auto;
	margin-right: auto;*/
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
}

#navbar { 
	margin 0 auto;
	height: 50px;
	list-style-type: none; 
	text-align: center; 
	background-color: #12a0ed; 
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #12a0ed, #1a82f7);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #12a0ed, #1a82f7);
	/* IE 10 */
	background: -ms-linear-gradient(top, #12a0ed, #1a82f7);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #12a0ed, #1a82f7);
	font-size: 16px;
	} 
 
#navbar ul li {  
	display: inline; 
	margin: auto 5px auto 5px;
	color: #fff; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff;
	border-radius: 8px; 
	} 
	
#sidebar {
	padding-bottom: 100%;
	background-color: #f9c618;
}	

#footer {
	height:50px;
	text-align: center;
	font-size: 12px;
}
#firstBlock {
	margin-top: 20px;
	padding: 5px 0px 5px 0px;
	background-color: #f96896;
}

#secondBlock {
	margin-top: 25px;
	padding: 5px 0px 5px 0px;
	background-color: #f96896;
}

#table {
	border-style: solid;
	padding: 5px 5px 5px 5px;
	background-color: #ffdf72;
}

#table table {
	margin: 0 auto;
	width:100%;
	border-collapse: collapse;
	background-color: #ffdf72;
	text-align: center;
}

#table th {
	font-size: 14px;
}

#table td {
	border-style:solid;
	border-color: #FFFFFF;
	border-width: 1px;
	font-size: 12px;
	padding: 2px;
	text-align: center;
	margin: 0 auto;
}
