body, div, h1, h2, h3, h4, h5, h6, p, img {margin:0px; padding:0px; } 

#siteBody {
	margin: 0 auto;
/*	margin-left: auto;
	margin-right: auto;*/
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
}

.logout {
	
}

h1 {
	padding: 25px 25px 25px 5px;
}

#navbar { 
	height: 50px;
	list-style-type: none; 
	text-align: center; 
	background-color: #12a0ed; 
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #12a0ed, #1a82f7);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #12a0ed, #1a82f7);
	/* IE 10 */
	background: -ms-linear-gradient(top, #12a0ed, #1a82f7);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #12a0ed, #1a82f7);
	font-size: 16px;
	} 
 
#navbar ul li {  
	display: inline; 
	margin: 15px 15px;
	color: #fff; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff;
	border-radius: 8px; 
	} 
	
#sidebar {
	padding: 2px 2px 2px 2px;
	padding-bottom: 100%;
	margin-top: 5px;
	margin-right: 5px;
	width:200px;
}	

#sidebar form {
	padding-top: 10px;
	text-align: center;
	height: 200px;
	width: 200px;
	background-color: #f9c618;
}

#logo {
	width:150px;
	height:100px;
	background-color:#FFFFFF;
}

#header {
	margin-top:5px;
	height:150px;
}

#footer {
	margin-top:10px;
	height:50px;
	text-align: center;
	font-size: 12px;
}
/*#firstBlock{
	margin-left:200px;
	float:left;
	position:relative;
}

#secondBlock {
	margin-left:50px;
	position:relative;
}

#thirdBlock {
	margin-left:50px;
	position:relative;
}
*/